# Auto detect text files and perform LF normalization
* text=auto
. filter=lfs diff=lfs merge=lfs -text
C:/Users/JAYANT/Documents/Convocation[[:space:]]Used[[:space:]]Car[[:space:]]Price[[:space:]]Evaluator filter=lfs diff=lfs merge=lfs -text
